@model SiteMVC.ViewModels.SubPurchase

@{
    ViewBag.Title = "Добавление посредников | Недвижимость-UA";
    Layout = "~/Views/Shared/_AdvertismentsLayout.cshtml";
}

@section Body
{
    <h2>Добавление посредников по номеру телефона</h2>

    @using (Html.BeginForm("AddSubpurchaseAndPhones", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="control-group">
            <label class="control-label">Имя посредника</label>
            <div class="controls">
                
            </div>
        </div>
        <input type="submit" class="btn" value="Добавить посредника" />
    }
}
