@model SiteMVC.Areas.Controls.ViewModel.FilterViewModel

<script type="text/javascript">
    $(function () {
        $('#filterLink').click(function () {
            $('#filterContainer').slideToggle(500);
        });
    });
</script>

<div class="text-right">
    <a id="filterLink" class="dropdown">Фильтр объявлений <b class="caret"></b></a>
</div>

<div class="well" id="filterContainer" style="display: none;">
  <form method="get" action="@Request.Url.PathAndQuery">
    <label>Количество комнат:</label>
    @Html.DropDownList("Rooms", (List<SelectListItem>)ViewBag.RoomsFilterList, new { @class = "input-medium", value = ((int)Model.Filter.Rooms).ToString() })

    <label class="checkbox">
        @Html.CheckBox("OnlyWithPhotos", Model.Filter.OnlyWithPhotos) <i class="icon-camera"></i> Только с фото
    </label>

    <div class="text-right">
        <small>
            <a href="#" style="margin-right: 10px; border-bottom: 1px dotted #999999;">Сбросить</a> 
        </small>
        <input type="submit" class="btn btn-primary" value="Подобрать" />
    </div>
  </form>
</div>
