@model SiteMVC.Areas.Controls.ViewModel.FilterViewModel

<script type="text/javascript">
    $(function () {
        $('#filterLink').click(function () {
            $('#filterContainer').slideToggle(500);
        });
    });
</script>

<div class="text-right">
    <a id="filterLink" class="dropdown">Фильтр объявлений <b class="caret"></b></a>
</div>

<div class="well" id="filterContainer" style="display: none;">
  @using (Html.BeginForm(Model.ActionName, Model.ControllerName, FormMethod.Get, new { style = "margin-bottom: 0;" }))
  {
    <label>Количество комнат:</label>
    @Html.DropDownListFor(m => m.Filter.Rooms, (List<SelectListItem>)ViewBag.RoomsFilterList, new { @class = "input-medium" })
      
    <label class="checkbox">
        @Html.CheckBoxFor(m => m.Filter.OnlyWithPhotos) <i class="icon-camera"></i> Только с фото
    </label>
      
    <div class="text-right">
        <input type="submit" class="btn btn-primary" value="Подобрать" />
    </div>
      
    @Html.HiddenFor(m => m.ActionName)
    @Html.HiddenFor(m => m.ControllerName)
  }
</div>
