@model IEnumerable<SiteMVC.Models.AdvertismentSubSection>

@if(Model.Any())
{
    <label class="control-label" for="inputType">Подраздел:</label>
    <div class="controls">
        @Html.DropDownList("Advertisment.AdvertismentSubSection_Id", new SelectList(Model, "Id", "displayName"), "(Выберите подраздел)")
    </div>
}