@{
    ViewBag.Title = "SuccessfulyAdd";
    Layout = "~/Views/Shared/_AdvertismentsLayout.cshtml";
}

<h2 class="block_header">Объявление добавлено <hr/></h2>
<p>
    Спасибо! Ваше объявление было успешно добавлено и размещено в списке объявлений.
</p>