@{
    ViewBag.Title = "FailedRegistration";
    Layout = "~/Views/Shared/_AdvertismentsLayout.cshtml";
}

@section Body
{
    <h2>Ошибка регистрации пользователя</h2>
    <p>
        Во время регистрации нового пользователя произошла ошибка. Пожалуйста, свяжитесь с тех. поддержкой 
        нашего сайта - <a href="mailto:@Resources.Resource.SiteSupportEmail">@Resources.Resource.SiteSupportEmail</a>.
    </p>
}
