@{
    ViewBag.Title = "Вы не являетесь администратором | Недвижимость-UA";
    Layout = "~/Views/Shared/_AdvertismentsLayout.cshtml";
}

@section Body
{
    <h2>Вы не являетесь администратором</h2>
    <p>
        Извините, данный раздел доступен только администраторам сайта. Для доступа
        в данный раздел нашего сайта пожалуйста авторизируйтесь как админ.
    </p>
}
