@{
    ViewBag.Title = "Успешная регистрация | Недвижимость-UA";
    Layout = "~/Views/Shared/_AdvertismentsLayout.cshtml";
}

@section Body
{
    <h2>Успешная регистрация пользователя</h2>
    <p>
        Спасибо! Регистрация нового пользователя прошла успешно. Теперь Вы можете войти на сайт, 
        используя свой email\login и пароль.
    </p>
}
