@{
    ViewBag.Title = "Ошибка авторизации | Недвижимость-UA";
    Layout = "~/Views/Shared/_AdvertismentsLayout.cshtml";
}

@section Body
{
    <h2>Ошибка авторизации</h2>
    <p>
        Введенный Вами email или логин не существует или пароль указан не верно.
    </p>
    <p style="margin-top: 15px;">
        В случае, если Вы забыли пароль от Вашего аккаунта - пожалуйста свяжитесь 
        с нашей тех. поддержкой <a href="mailto:@Resources.Resource.SiteSupportEmail">@Resources.Resource.SiteSupportEmail</a>
    </p>
}
