@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Head
{
    @RenderSection("Head", required: false)
}


@section Body
{
    <div id="row-fluid">
        <div class="span8">
            @RenderSection("Body", required: true)
        </div>
            
        <div class="span4">
            <p>
                Вы также можете добавить свое объявление об аренде или продаже недвижимости на наш сайт:
            </p>
            <div style="text-align: center;">
                <a href="~/add-advertisment" class="add_advertisment_mainpage_button button orange">Добавить объявление</a>
            </div>

            @RenderSection("RightColumn", required: false)
        </div>
    </div>
}