@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Head
{
    @RenderSection("Head", required: false)
}


@section Body
{
    <div class="row-fluid" id="adv_list">
        <div class="span8">
            @RenderSection("Body", required: true)
        </div>
            
        <div class="span4">
            <p>
                Вы также можете добавить свое объявление об аренде или продаже недвижимости на наш сайт:
            </p>
            <div style="text-align: center;">
                <a href="~/Add-advertisment" class="add_advertisment_mainpage_button button orange">Добавить объявление</a>
            </div>

            @RenderSection("RightColumn", required: false)
        </div>
    </div>

    <a href="#top_container" class="scroll_arrow">
        <span class="arrow">↑</span>
    </a>

    <script type="text/javascript">
        $(function () {
            $(document).scroll(function () {
                var scrollTop = $(document).scrollTop();
                if (scrollTop >= $('#adv_list').offset().top + 100)
                    $('.scroll_arrow').css('display', 'block');
                else
                    $('.scroll_arrow').css('display', 'none');
            });
        });
    </script>
}